@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import '../fonts/stylesheet.css';
@import '_buttons.css';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, body,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
:root{
    --avenir: 'Avenir Next LT Pro';
    --green: #00D4A6;
    --green-dark: #00BC93;
    --dark: #11181D;
    --blue: #0072B2;
    --grey-light: #F7F7F7;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
input, textarea {
outline: none;
} 
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clr{
    clear: both;
}
textarea,
input[type=text],
input[type=mail],
input[type=tel],
input[type=button],
input[type=submit]{
    -webkit-appearance: none;
    border-radius: 0;
}
::-webkit-input-placeholder {font-size: 14px; color: var(--light); letter-spacing: .45px; font-family: 'Exo 2 Condensed'; font-weight: 300;}
::-moz-placeholder          {font-size: 14px; color: var(--light); letter-spacing: .45px; font-family: 'Exo 2 Condensed'; font-weight: 300;}/* Firefox 19+ */
:-moz-placeholder           {font-size: 14px; color: var(--light); letter-spacing: .45px; font-family: 'Exo 2 Condensed'; font-weight: 300;}/* Firefox 18- */
:-ms-input-placeholder      {font-size: 14px; color: var(--light); letter-spacing: .45px; font-family: 'Exo 2 Condensed'; font-weight: 300;}
a{
    color: inherit;
    text-decoration: none;
    font-family: inherit;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.wrapper{
    position: relative;
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding-top: 30px;
    z-index: 10;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.innerpage{
    padding-top: 67px;
}
.innerpage header,
header.fixed{
    position: fixed;
    background-color: #11181D;
    padding: 15px 0;
}
header .wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
}
nav ul{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
nav ul li{
    margin-left: 35px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: white;
    font-family: var(--avenir);
}
nav ul li a {
    padding: 10px 0;
    border-bottom: 3px solid transparent;
}
nav ul li a:hover{
    color: var(--green);
    border-color: var(--green);
}
.login-btn{
    border: 1px solid var(--green);
    width: 86px;
    height: 35px;
    color: var(--green);
}
.get-started-btn{
    border: 1px solid var(--green);
    width: 133px;
    height: 35px;
    color: white;
    background-color: var(--green);   
    display: none;
}
.innerpage header .get-started-btn,
header.fixed .get-started-btn{
    display: block;
}
.get-started-btn a,
.login-btn a{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    border-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.login-btn a:hover{
    color: white;
    background-color: var(--green);
}
.get-started-btn a:hover{
    color: white;
    background-color: var(--green-dark);
}
.logo{
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #00D4A6;
    font-family: var(--avenir);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.logo .white{
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: white;
}


#main{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: var(--dark);
    min-height: 700px
}
.main-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/main.png');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-bg:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(89.69deg, #11181D 1.64%, rgba(17, 24, 29, 0) 42.56%, rgba(17, 24, 29, 0) 58.44%, #11181D 91.66%);
}
#main .wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    height: 100%;
}
.logo--square{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 13px;
}
.logo--square .logo-inner--square{
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border: 3px solid transparent;
}

.logo--square .logo-inner--square:nth-child(1){
    top: 0;
    left: 0;
    border-top-color: var(--green);
    border-left-color: var(--green);
    border-bottom: 0;
    border-right: 0;
}
.logo--square .logo-inner--square:nth-child(2){
    border-top-color: var(--green);
    border-right-color: var(--green);
    border-bottom: 0;
    border-left: 0;
    top: 0;
    right: 0;
}
.logo--square .logo-inner--square:nth-child(3){
    border-bottom-color: var(--green);
    border-left-color: var(--green);
    border-top: 0;
    border-right: 0;
    bottom: 0;
    left: 0;
}
.logo--square .logo-inner--square:nth-child(4){
    border-bottom-color: var(--green);
    border-right-color: var(--green);
    border-top: 0;
    border-left: 0;
    bottom: 0;
    right: 0;
}
.main-content{
    width: 100%;
}
.main-content--info{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    font-family: var(--avenir);
    width: 100%;
}
.main--title{
    font-size: 87px;
    color: var(--green);
    font-weight: 400;
}
.main--subtitle{
    font-size: 39px;
    line-height: 110%;
    color: white;
    font-family: var(--avenir);
    margin-top: 20px;
    width: 100%;
}
.main-content--box{
    width: 50%;
    text-align: center;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.main-content--buttons{
    margin-top: 100px;
}
.main-content--buttons .btn{
    margin: 12px;
    min-width: 317px;
}
.main--note{
    font-size: 18px;
    line-height: 25px;
    color: white;
    margin-top: 40px;
}
.main--note a{
    text-decoration: underline;
}
#services{
    padding: 105px 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.services--desc{
    font-size: 25px;
    line-height: 160%;
    margin: 0 auto;
    max-width: 907px;
}
#services .btns-box{
    margin-top: 50px;
}
#services-items{
    padding: 100px 0;
}
#services-items .btns-box{
    margin-top: 25px;
}
.section--title{
    font-size: 45px;
    line-height: 137%;
    font-family: var(--avenir);
}
.services--column{
    flex-grow: 1;
}
.services--column:first-child{
    flex: 0 0 48%;
}
.services--item{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-bottom: 75px;
}
.services--icon{
    width: 70px;
}
.services--title{
    font-size: 24px;
    line-height: 33px;
    font-family: var(--avenir);
}
.services--subtitle{
    font-size: 17px;
    line-height: 160%;
}
.services--info{
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.services-content{
    margin-top: 75px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.ratio--box{
    padding: 50px;
    background-color: rgba(149, 149, 149, 0.1);
    margin-top: 100px;
}
.ratio--title{
    font-family: var(--avenir);
    font-size: 45px;
    line-height: 150%;
}
.ratio--desc{
    font-size: 28px;
    line-height: 150%;
    max-width: 1000px;
    margin-top: 25px;
}
#workflow{
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.workflow--stages{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    margin-top: 85px;
}
.workflow--stage{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
    font-size: 25px;
    line-height: 160%;
    padding-bottom: 120px;
}
.workflow--stage:before{
    content: '';
    position: absolute;
    top: 0;
    right: 37px;
    width: 1px;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}
.workflow--stage:nth-child(2):before{
    right: auto;
    left: 37px;
}
.workflow--stage:after{
    content: '';
    position: absolute;
    bottom: 1px;
    right: 34px;
    width: 6px;
    height: 6px;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.2);
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.workflow--stage:nth-child(2):after{
    right: auto;
    left: 34px;
}
.workflow--stage:last-child{
    padding-bottom: 0;
}
.workflow--stage:last-child:after,
.workflow--stage:last-child:before{
    display: none;
}
.workflow--stage-icon{
    position: relative;
    width: 74px;
    height: 74px;
    font-size: 17px;
    line-height: 160%;
    padding: 15px;
    border-radius: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 7px solid white;
}
.workflow--stage-icon img{
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    object-position: center;
}
.workflow--stage:nth-child(3),
.workflow--stage:nth-child(1){
    justify-content: flex-end;
    margin-left: 37px;
}
.workflow--stage:nth-child(2){
    -webkit-transform: translateX(calc(100% - 37px));
    -ms-transform: translateX(calc(100% - 37px));
    -o-transform: translateX(calc(100% - 37px));
    transform: translateX(calc(100% - 37px));
}
.workflow--stage:nth-child(1) .workflow--stage-icon,
.workflow--stage:nth-child(3) .workflow--stage-icon{
    margin-left: 55px;
}
.workflow--stage:nth-child(1) .workflow--stage-icon{
    color: var(--green);
    background-color: var(--green);
}
.workflow--stage:nth-child(2) .workflow--stage-icon{
    color: #a94ee3;
    background-color: #a94ee3;
    margin-right: 55px;
}
.workflow--stage:nth-child(3) .workflow--stage-icon{
    color: #359dfe;
    background-color: #359dfe;
}
.workflow--stage-number{
    position: absolute;
    bottom: 100%;
    right: 100%;
    font-weight: bold;
    font-size: 17px;
    line-height: 160%;
}
#workflow .btns-box{
    margin-top: 100px;
}
#cases{
    padding: 100px 0;
}
#cases .btns-box{
    margin-top: 85px;
}




footer{
    padding: 100px 0;
    background: rgba(149, 149, 149, 0.1);
    font-size: 15px;
    line-height: 190%;
}
footer .slogan{
    padding-left: 45px;
    font-size: 14px;
    line-height: 19px;
    font-family: var(--avenir);
    color: var(--green);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 5px;
}
.copy{
    font-size: 15px;
    line-height: 18px;
    margin-top: 12px;
}
footer .btn{
    height: 55px;
    min-width: 206px;
    font-size: 18px;
    line-height: 25px;
}
.footer-adress--title{
    font-weight: bold;
}
.footer-social--box a{
    color: var(--green); 
    font-weight: bold;   
}
footer a:not(.btn):hover{
    text-decoration: underline;
}
footer .linkedin {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    color: var(--blue); 
}
footer .linkedin img {
    margin-right: 8px;
}
footer .wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.footer-contacts--box{
    flex-grow: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 0 80px;
    padding-left: 120px;
}
.footer-btns--box{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
.footer-btns--box .btn{
    margin-bottom: 8px;
}
.footer-adress--box{
    flex-grow: 1;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
footer .footer-logo--box a:hover{
    text-decoration: none;
}

.cases-items--container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 80px;
}
.cases-item--big{
    flex: 0 0 calc(66.6666% - 100px);
    max-width: calc(66.6666% - 100px);
    margin-left: 100px;
}
.anatiations--preview .case-info,
.cases-item--big .case-info{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.anatiations--preview .case-info{
    width: 100%;
    min-height: 450px;
    margin-bottom: 40px;
}
.case-image--box{
    width: 350px;
}
.case-image--box img{
    display: block;
    width: 100%;
    height: 100%;
    min-height: 285px;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
}
.case--descroption{
    
}
.case-scroll--box{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    width: calc(100% - 350px);
    padding-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.case-scroll--box textarea{
    flex-grow: 1;
    width: 100%;
    height: 100%;
    min-height: 285px;
    border: none;
    background-color: white;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px;
    background-color: var(--grey-light);
}
.case--title{
    font-size: 24px;
    line-height: 33px;
    font-family: var(--avenir);
    display: block;
    width: 100%;
    margin-bottom: 15px;
}
.case--desc-title{
    font-size: 32px;
    line-height: 137%;
    font-family: var(--avenir);
    margin-bottom: 20px;
}
.case--descroption-text{
    font-size: 18px;
    line-height: 160%;
    max-width: 650px;
    margin-bottom: 20px;
}
.case--psrice{
    font-size: 25px;
    line-height: 137%;
    font-family: var(--avenir);
}
.case-image img{
    display: block;
    max-width: 100%;
}
.page--title{
    font-family: var(--avenir);        
    font-size: 67px;
    line-height: 100%;
    color: var(--green);
    padding-top: 80px;
    padding-bottom: 100px;
}
.form-control{
    margin-bottom: 18px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.form-control:first-child{
    -ms-align-items: flex-start;
    align-items: flex-start;
}
.form-control label{
    width: 115px;
    font-size: 18px;
    line-height: 140%;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-control textarea{
    height: 320px;
    padding: 15px;
    resize: none;
}
.form-control textarea,
.form-control input[type=text],
.form-control input[type=email],
.form-control input[type=phone],
.form-control input[type=password]{
    border: 1px solid #777;
    border-radius: 4px;
    flex-grow: 1;
    font-size: 16px;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-control input[type=text],
.form-control input[type=email],
.form-control input[type=phone],
.form-control input[type=password]{
    height: 54px;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 435px;
}
.form--container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.form-content{
    width: calc(100% - 320px);
    padding-right: 40px;
}
.form--description{
    width: 320px;
    font-size: 18px;
    line-height: 160%;
}
.form--description p{
    margin-bottom: 30px;
}
.form--description a{
    color: var(--green);
    text-decoration: underline;
}
.form--description a:hover{
    text-decoration: underline;
}
.form-btns--box{
    margin-top: 50px;
    padding-left: 115px;
}
.form-btns--box .btn{
    width: 100%;
    max-width: 435px;
}
.lets-talk--form{
    padding-bottom: 150px;
}


.main-service--item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 120px;
    margin-bottom: 120px;
}
.servise--title-container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    font-size: 32px;
    line-height: 137%;
}
.servise--title-container .btn{
    height: 60px;
    width: auto;
    min-width: inherit;
    padding: 0 35px;
    font-size: 22px;
    letter-spacing: 0.15em;
}
.servise--title{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    font-family: var(--avenir);
}
.servise--title img{
    display: block;
    margin-right: 23px;
}
.main-service--desc{
    max-width: 700px;
    font-size: 18px;
    line-height: 160%;
    margin-top: 35px;
    margin-bottom: 30px;
}
.service-galery--title{
    font-size: 22px;
    line-height: 1.6;
    font-family: var(--avenir);
    margin-bottom: 45px;
}
.service-galery--container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.service-galery--item{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
.service-galery--item > *{
    flex-grow: 1;
    padding: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.servise--title-container{
    margin-bottom: 85px;
}
.anatiations--container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.anatiations--nav{
    width: 335px;
    padding-right: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.anatiations--nav .arrow{
    position: absolute;
    top: 50%;
    right: 15px;
    width: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.anatiations--nav .arrow img{
    display: block;
    max-width: 100%
}
.anatiations--nav .arrow path{
    stroke: var(--green);
}
.anatiations--preview{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-grow: 1;
}
.anatiations--block{
    display: none;
}
.anotiations--container{
    width: calc(100% - 335px);
}
.anatiations--preview .case-info .case-image--box{
    width: 400px;
}
.anatiations--preview .case-info .case-scroll--box{
    width: calc(100% - 400px);
}
.anatiations--preview.active{
}
.anatiations-nav--item{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: -15px;
    padding: 15px;
    font-size: 20px;
    line-height: 27px;
    font-family: var(--avenir);
    cursor: pointer;
}
.anatiations-nav--item:last-child{
    margin-bottom: 0;
}
.anatiations-nav--item img{
    display: block;
    width: 35px;
    height: auto;
    margin-right: 20px;
}

.anatiations-nav--item.active,
.anatiations-nav--item:hover{
    background-color: var(--green);
    color: white;
}
.anatiations-nav--item .hover{
    display: none;
}
.anatiations-nav--item.active .hover,
.anatiations-nav--item:hover .hover{
    display: block;
}
.anatiations-nav--item.active .normal,
.anatiations-nav--item:hover .normal{
    display: none;
}
.anatiations-nav--item.active .arrow path,
.anatiations-nav--item:hover .arrow path{
    stroke: white;
}
.anatiations-nav--item.active .arrow{
    -webkit-transform: translateY(-50%) rotateX(180deg);
    -ms-transform: translateY(-50%) rotateX(180deg);
    -o-transform: translateY(-50%) rotateX(180deg);
    transform: translateY(-50%) rotateX(180deg); 
}
.anatiations-galery--image{
    width: 33.3333%;
    padding: 2px;
    height: 265px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.anatiations-galery--image:nth-child(2),
.anatiations-galery--image:first-child{
    flex: 0 0 50%;
    height: 202px;
}
.anatiations-galery--image img{
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
}
.annotation{
    font-size: 20px;
    line-height: 27px;
    font-family: var(--avenir);
    margin-top: 150px;
}
.annotation a{
    color: var(--green);
}
.annotation a:hover{
    text-decoration: underline;
}



#hamburger{
    display:  none;
    -ms-align-items: center;
    align-items: center;
    width: 24px;
    height: 16px;
    cursor: pointer;
}
#hamburger span{
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--green);
}

#hamburger span:before,
#hamburger span:after{
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--green);
    -webkit-transition: transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
}
#hamburger span:before{
    bottom: calc(100% + 5px);
}
#hamburger span:after{
    top: calc(100% + 5px);
}

.opened #hamburger span{
    background-color: transparent;
}
.opened #hamburger span:before{
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.opened #hamburger span:after{
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.mobile-hidden{
    display: block;
}
.mobile-visible{
    display: none;
}

.anatiations-carousel{
    display: none;
}


.anatiations-accordion--container{
    margin-bottom: 50px;
}
.accordion-link{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.accordion-link .link-title{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    font-size: 20px;
    line-height: 27px;
    font-family: var(--avenir);
}
.accordion-link .arrow {
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    transition-property: transform;
}
.accordion-link .arrow svg{
    display: block;
    width: 18px;
    height: 11px;
}
.accordion-link .link-title span{
    margin-left: 20px;
}
#content{
    overflow: hidden;
}
.accordion-location{
    display: none;
}
.anatiations-accordion--item.active .accordion-link .arrow{
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}